@model List<PipelinesModel.PipelineInfo>

@if (!Model.Any())
{
    <tr>
        <td colspan="6" class="px-6 py-8 text-center text-gray-500">
            <i class="fas fa-robot text-4xl mb-2"></i>
            <p>No pipelines found matching your filters.</p>
        </td>
    </tr>
}
else
{
    @foreach (PipelinesModel.PipelineInfo pipeline in Model)
    {
        <partial name="_PipelineListRow" model="pipeline"/>
    }
}
